{% if properties_to_validate %}
	Context provided:
	{{input.user_input}}

	Extracted entities:
	{{properties_to_validate}}
	Are these correct?

	Check:
	- Entities: name, category, lead_time, event_time, event_time_end, location, error, current_time
	- Required: name, category, lead_time, event_time, event_time_end, current_time
	- Default 'category' to 'always' if not provided
	- Correct formats
	- No extra, missing, or duplicate entities

    Example 1:
	Input:
	{
	"input": "Fix your app at 2PM Today at home. Remind me 10 minutes beforehand."
	}

	Output:
	{
	"name": "Fix your app at home",
	"category": "home",
	"lead_time": 10,
	"event_time": "2024-08-25T14:00:00-04:00",
	"event_time_end": "2024-08-25T16:00:00-04:00",
	"location": "home",
	"error": false,
	"current_time": "2024-08-25T09:10:06.325722"
	}

    Example 2:
    Input:
    {
    "input": "Respond to Tom at 5PM tomorrow with a 5 minute reminder."
    }

    Output:
    {
        "name": "Respond to Tom",
        "category": "always",
        "lead_time": 5,
        "event_time": "2024-09-03T17:00:00-04:00",
        "event_time_end": "2024-09-03T17:30:00-04:00",
        "location": "",
        "error": false,
        "current_time": "2024-09-02T22:54:09.231125"
    }
    

	Assume 'event_time' and 'event_time_end' are on the same day as 'current_time' unless noted. If 'AM' or 'PM' or 'morning' or 'noon' or 'afternoon' or 'evening' or 'night' is present: then check the current time and compare to the input time. The next occurence of the time is the one to use. That means if if the input is "Two o'clock" and the current time is 1:30 PM, then the next occurrence of "Two o'clock" is 2:00 PM today. If the input is "Two o'clock" and the current time is 2:30 PM, then the next occurrence of "Two o'clock" is 2:00 PM tomorrow. If no AM/PM or time of day is present, assume the time is in the same day as 'current_time'.
	
	 30 minutes to 'event_time' if 'event_time_end' is missing. Do not create events in the past. Return an empty string for optional entities if not found.

	Output in markdown JSON:
{% else %}
	Extract entities from the context.

	Context: {{input}}
	Current Time: {{input.current_time}}

    Example 1:
	Input:
	{
	"input": "Fix your app at 2PM Today at home. Remind me 10 minutes beforehand."
	}

	Output:
	{
	"name": "Fix your app at home",
	"category": "home",
	"lead_time": 10,
	"event_time": "2024-08-25T14:00:00-04:00",
	"event_time_end": "2024-08-25T16:00:00-04:00",
	"location": "home",
	"error": false,
	"current_time": "2024-08-25T09:10:06.325722"
	}

    Example 2:
    Input:
    {
    "input": "Respond to Tom at 5PM tomorrow with a 5 minute reminder."
    }

    Output:
    {
        "name": "Respond to Tom",
        "category": "always",
        "lead_time": 5,
        "event_time": "2024-09-03T17:00:00-04:00",
        "event_time_end": "2024-09-03T17:30:00-04:00",
        "location": "",
        "error": false,
        "current_time": "2024-09-02T22:54:09.231125"
    }

	JSON Schema:
		name: str
		category: str (default: 'always')
		lead_time: int
		event_time: datetime
		event_time_end: datetime
		location: str
		error: bool (default: False)
		current_time: datetime

	Assume 'event_time' and 'event_time_end' are on the same day as 'current_time' unless noted. If 'AM' or 'PM' or 'morning' or 'noon' or 'afternoon' or 'evening' or 'night' is present: then check the current time and compare to the input time. The next occurence of the time is the one to use. That means if if the input is "Two o'clock" and the current time is 1:30 PM, then the next occurrence of "Two o'clock" is 2:00 PM today. If the input is "Two o'clock" and the current time is 2:30 PM, then the next occurrence of "Two o'clock" is 2:00 PM tomorrow. If no AM/PM or time of day is present, assume the time is in the same day as 'current_time'.
	
	 30 minutes to 'event_time' if 'event_time_end' is missing. Do not create events in the past. Return an empty string for optional entities if not found.

	Output in markdown JSON:
{% endif %}